</div>
<footer style="padding: 50px; text-align: center; border-top: 1px solid #e0e0e0; margin-top: 100px;">
    <p style="font-size: 0.8rem; color: #888; text-transform: uppercase;">&copy; 2025 VULN SHOP. All Rights Reserved.
    </p>
</footer>
</body>

</html>